.menu-color {
  height: 50px;
  background: #4e4e4e;
  color: #f1f1f1;
}
.menu-link {
  text-decoration: none;
  color: #f1f1f1;
}
.menu-color .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-link-contact {
  cursor: not-allowed;
}
.menu-ul {
  list-style: none;
  display: flex;
  gap: 47px;
}
