offers-section .container {
  align-items: center;
}
.offers-title {
  margin: 0 0 83px;
  font-size: 36px;
}
.grid-container {
  display: grid;
  grid-gap: 63px;
  grid-template-columns: auto auto auto;
  justify-content: center;
}
grid-container {
  display: grid;
  grid-gap: 63px;
  grid-template-columns: auto auto auto;
  justify-content: center;
}
.offers-section {
  padding: 50px 50px 64px 50px;
  background: #405d78;
}
