offers-section .container {
  align-items: center;
}
.offers-title {
  margin: 0 0 83px;
  font-size: 36px;
}
.grid-container {
  display: grid;
  grid-gap: 63px;
  grid-template-columns: auto auto auto;
  justify-content: center;
}
grid-container {
  display: grid;
  grid-gap: 63px;
  grid-template-columns: auto auto auto;
  justify-content: center;
}
.offers-section {
  padding: 50px 50px 64px 50px;
  background: #405d78;
}
.grid-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 200px;
  aspect-ratio: 1;
  background-color: #f1f1f1;
  font-size: 24px;
  transition-duration: 0.5s;
}
.grid-box p:nth-of-type(2) {
  font-size: 18px;
}
.grid-box:hover {
  transform: scale(1.05);
}
.grid-box:hover {
  transform: scale(1.05);
}
.grid-dot {
  height: 22px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #e07a64;
  position: absolute;
  left: -11px;
  top: -11px;
}
p {
  margin: 0;
}
